.hidden{display: none;}.show{display: block;}
.close{color:#ccc;font-family:sans-serif;font-size:15px;line-height:20px;cursor:pointer;padding:10px;float:right}
.close:active,.close:focus,.close:hover,.close:visited{color:#333}
