@charset "utf-8";
.inp2 {
    outline: 0;
    min-height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    font-size: 13px;
    background: #fff;
    color: #555;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 95%
}
.inp2:focus {
    outline: 0
}
.inp2::-moz-placeholder {
    color: #ccc;
    opacity: 1
}
.inp2:-ms-input-placeholder {
    color: #ccc
}
.inp2::-webkit-input-placeholder {
    color: #ccc
}
.inp2[disabled] {
    opacity: .6;
    cursor: default
}
.inp2.inp-blue:focus,
.inp2.inp-blue.active,
.inp2.inp-blue-alt {
    border-color: #66afe9!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)!important;
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.inp2.inp-green:focus,
.inp2.inp-green.active,
.inp2.inp-green-alt {
    border-color: #1fa67b!important
}
input.inp2.inp-green.active,
input.inp2.inp-green-alt.active,
input.inp2.inp-green:focus,
input.inp2.inp-green-alt:focus {
    border-color: #1fa67b!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 233, 143, .6)!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 233, 143, .6)!important;
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 233, 143, .6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 233, 143, .6)!important
}
.inp2.inp-red-alt,
.inp2.inp-red-alt:hover {
    border-color: #dd4f39!important
}
input.inp2.inp-red.active,
input.inp2.inp-red-alt.active,
input.inp2.inp-red:focus,
input.inp2.inp-red-alt:focus {
    border-color: #dd4f39!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, .6)!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, .6)!important;
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, .6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 102, 102, .6)!important
}
input.inp-left {
    border-radius: 4px 0 0 4px!important
}
input.inp-right {
    border-radius: 0 4px 4px 0!important
}
input.inp-left-right {
    border-radius: 0!important
}