@charset "utf-8";
 /* CSS Document */ 

 .icon{
  display: inline-block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  position: relative;
  background-color:transparent; ;
  background-repeat: no-repeat;
  background-image: url('iconset1.png');
 }
.label{background-position:500px 500px; }
 /* basic White*/
 .lock-icon{background-position:-3px -3px ;}
 .unlock-icon{background-position:-28px -3px ;}

 .caps-lock-icon{background-position:-53px -3px ;}
 .caps-unlock-icon{background-position:-83px -3px ;}

 .search-icon{background-position:-108px -3px ;}

 .tick-icon{background-position:-133px -3px ;}
 .block-tick-icon{background-position:-158px -3px ;}
 .tick2-icon{background-position:-183px -3px ;}

 .cross-icon{background-position:-233px -3px ;}
 .block-cross-icon{background-position:-209px -3px ;}

 /* basic green*/
  .green-lock-icon{background-position:-3px -82px;}
 .green-unlock-icon{background-position:-28px -82px;}

 .green-caps-lock-icon{background-position:-53px -82px;}
 .green-caps-unlock-icon{background-position:-83px -82px;}

 .green-search-icon{background-position:-108px -82px;}

 .green-tick-icon{background-position:-133px -82px;}
 .green-block-tick-icon{background-position:-158px -82px;}
 .green-tick2-icon{background-position:-183px -82px;}

 .green-cross-icon{background-position:-233px -82px;}
 .green-block-cross-icon{background-position:-209px -82px;}

 /* basic red*/
  .red-lock-icon{background-position:-3px -108px;}
 .red-unlock-icon{background-position:-28px -108px;}

 .red-caps-lock-icon{background-position:-53px -108px;}
 .red-caps-unlock-icon{background-position:-83px -108px;}

 .red-search-icon{background-position:-108px -108px;}

 .red-tick-icon{background-position:-133px -108px;}
 .red-block-tick-icon{background-position:-158px -108px;}
 .red-tick2-icon{background-position:-183px -108px;}

 .red-cross-icon{background-position:-233px -108px;}
 .red-block-cross-icon{background-position:-209px -108px;}
/* basic blue */
  .blue-lock-icon{background-position:-3px -133px;}
 .blue-unlock-icon{background-position:-28px -133px;}

 .blue-caps-lock-icon{background-position:-53px -133px;}
 .blue-caps-unlock-icon{background-position:-83px -133px;}

 .blue-search-icon{background-position:-108px -133px;}

 .blue-tick-icon{background-position:-133px -133px;}
 .blue-block-tick-icon{background-position:-158px -133px;}
 .blue-tick2-icon{background-position:-183px -133px;}

 .blue-cross-icon{background-position:-233px -133px;}
 .blue-block-cross-icon{background-position:-209px -133px;}
/* basic yellow */
  .yellow-lock-icon{background-position:-3px -158px;}
 .yellow-unlock-icon{background-position:-28px -158px;}

 .yellow-caps-lock-icon{background-position:-53px -158px;}
 .yellow-caps-unlock-icon{background-position:-83px -158px;}

 .yellow-search-icon{background-position:-108px -158px;}

 .yellow-tick-icon{background-position:-133px -158px;}
 .yellow-block-tick-icon{background-position:-158px -158px;}
 .yellow-tick2-icon{background-position:-183px -158px;}

 .yellow-cross-icon{background-position:-233px -158px;}
 .yellow-block-cross-icon{background-position:-209px -158px;}

/* basic gray */
  .gray-lock-icon{background-position:-3px -182px;}
 .gray-unlock-icon{background-position:-28px -182px;}

 .gray-caps-lock-icon{background-position:-53px -182px;}
 .gray-caps-unlock-icon{background-position:-83px -182px;}

 .gray-search-icon{background-position:-108px -182px;}

 .gray-tick-icon{background-position:-133px -182px;}
 .gray-block-tick-icon{background-position:-158px -182px;}
 .gray-tick2-icon{background-position:-183px -182px;}

 .gray-cross-icon{background-position:-233px -182px;}
 .gray-block-cross-icon{background-position:-209px -182px;}


/*
*circles
*--------
*/
.white-circle-icon{background-position:-2px -58px;}
.green-circle-icon{background-position:-28px -58px;}
.red-circle-icon{background-position:-52px -58px;}
.gray-circle-icon{background-position:-82px -58px;}
.yellow-circle-icon{background-position:-108px -58px;}
.blue-circle-icon{background-position:-132px -58px;}


/*
*double circles
*--------
*/
.white-dcircle-icon{background-position:-2px -28px;}
.green-dcircle-icon{background-position:-28px -28px;}
.red-dcircle-icon{background-position:-52px -28px;}
.gray-dcircle-icon{background-position:-82px -28px;}
.yellow-dcircle-icon{background-position:-108px -28px;}
.blue-dcircle-icon{background-position:-132px -28px;}


/*
* arrow s
*----------
*/

/* 
*
*	white -ccc
*---------------
*
*/

.arrow-up-white-ccc-icon{background-position: -5px -210px; width: 30px !important;height: 30px !important;}
.arrow-down-white-ccc-icon{background-position: -45px -210px; width: 30px !important;height: 30px !important;}
.arrow-left-white-ccc-icon{background-position: -118px -210px; width: 30px !important;height: 30px !important;}
.arrow-right-white-ccc-icon{background-position: -83px -210px; width: 30px !important;height: 30px !important;}