.dropdown-menu {
    text-align: left;
    color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 70px;
    list-style: none;
    min-width: 150px;
    border-radius: 4px;
    padding: 5px 0;
    outline: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.dropdown-menu li {
    list-style: none;
    border: none;
    display: block;
}
.dropdown-menu li.divider {
    border: none;
    height: 1px;
    background: #eee;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: block;
}
.dropdown-menu li a {
    padding: 5px 10px;
    display: block;
    color: #888;
    text-decoration: none;
    border: 1px solid transparent;
    outline: none;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
    background: #0081c2;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;
}